@use "../../SASS/Variblies.scss" as *;

#projects{
    .project{
        overflow: hidden;
        cursor: pointer;
        .img{
            overflow: hidden;
            img{
                transform: scale(.95);
                filter: blur(0.09rem);
                transition: all ease 1s;
            }
        }
        &:hover img{
            transform: scale(1);
            filter: blur(0);
        }
        .caption{
            h6{
                .link{
                    color: $black-color;
                    transition: color ease 1s;
                    &:hover{
                        color: $blue-color;
                    }
                }
            }
        }
    }
}